<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="../css/index.css">
<script type="text/javascript" src="../js/index.js"></script>


</head>
<body>
   
    
    
    <div class="topo">
        <h1>Comparador de combustiveis</h1>
    </div>
    
    <div class="meio container text-white text-center">
        <div class=" container centro text-center">
            <p>Qual o valor da gasolina(ex:R$ 4.99) ?</p>
            <input type="number" name="n1" placeholder="Gasolina" id="n1"> Litros
            <p></p>
            <p>Qual o valor do etanol(ex:R$ 1.88) ?</p>  
            <input type="number" name="n2" placeholder="Etanol" id="n2"> Litros
            <p></p>
    
            
            <div id="res"></div>
            
            <p></p>
            <div>
                <button class="noselect blue" onclick="Calcular()">Calcular</button>
                <button class="noselect red"  onclick="Limpar()">Limpar</button>
            </div>
            <!--<input type="button" value="Calcular"  class="btn btn-primary"  onclick="Calcular()">
            <input type="button" value="Limpar"    class="btn btn-danger"   onclick="Limpar()">-->
            
        </div>
    </div>
   
</body>



</html>


